<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .completed{
            text-decoration: line-through;
            color:red;
        }
    </style>
</head>
<body>
    <div id="app">
        <p>
            <input type="text" v-model="doText" /> <input type="button" value="submitDoText" @click="submitDoText()" />
        </p>
        <ul>
            <li v-for="(todo ,key) in todos">
                <div>
                    <span @click="isDone(todo.isDone, key)">
                        <span v-bind:class="todo.isDone ? 'completed':''">{{todo.do}}</span>
                    </span>
                    <input type="button" value="x" v-on:click="clickedX(key)" />
                </div>
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: "#app",
            methods: {
                clickedX(key) {
                    this.todos.splice(key,1);
                },
                isDone(isDone, key) {
                    this.todos[key].isDone = !this.todos[key].isDone;
                },
                submitDoText() {
                    if (this.doText == "") return;
                    const inputData = {
                        do: this.doText,
                        isDone: false
                    }
                    //this.todos = [...this.todos, inputData];
                    // or
                    this.todos.push(inputData);
                    this.doText = "";
                },
            },
            data() {
                return {
                    overline : "overline",
                    fontColor : "black",
                    doText: "",
                    todos: [
                        // {
                        //     do: "abc",
                        //     isDone: false,
                        // }
                    ],
                }
            },
        })
    </script>
</body>
</html>