<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   
</head>
<body>
    <div id="root">
        <form v-on:submit="onSubmitForm">
            <div>
                {{word}}
            </div>
            
            <input type="text" v-model="value">
            <button type="submit"> input </button>
            <div>
                {{result}}
            </div>
            <button-counter></button-counter>
            <button-counter></button-counter>
            <button-counter></button-counter>
            <test-component props-word="1"></test-component>
            <test-component props-word="2"></test-component>
            <test-component props-word="3"></test-component>
      
            <!-- <button v-on:click="click" >button</button>
            <div v-if="liked">
                    click
            </div>
            <div v-else>
                    no clickd21
            </div> -->
        </form>
    </div>
</body>
<script>

    Vue.component('test-component',{
        template:
            `<div>hi my~~~~~~~~ {{ word }} </div>`,
        data (){
            return {
               word: this.propsWord,
            };
        },
        props : ['propsWord'],
        methods:{

        }
    });

    Vue.component('test-comp'),{
        data(){
            return {
                test:1,
            }
        },

        props : ['testWord'],
        methods:{

        },

    }

    Vue.component('button-counter', {
    data: function () {
        return {
            count: 0
        }
    },
    template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
})


</script>
<script>
        var a = new Vue({
            el : '#root',
            data : {
                liked : true,
                word: "abc",
                result : "",
                value : "",
            },
            methods:{
                click(){
                    this.liked = !this.liked
                },
                onSubmitForm(e){
                    e.preventDefault();
                    
                    if ( this.word[this.word.length -1 ] == this.value[0]){
                        this.result = "correct";
                        console.log("1");
                        this.word = this.value;
                    }else{
                        this.result = "fail";
                        console.log("2");
                     
                    }
                },
            }
        });
    </script>
</html>